.App {
  text-align: center;
}

body {
	background-color: grey;
}

.ArtBoard {
	width: 80vw;
	height:99.5vh;
	background-color: white;
	align-self: center;
	box-shadow: 2px 2px 10px #333333;
	padding: 0;
	margin: 0 0 0 8vw;
}

.Layout {
	display: flex;
	flex-direction: row;
}
.RightPanel {
	background-color: #d6d6d6;
	box-shadow: -1px 0px 2px #b2b2b2;
	width: 14vw;
	height:99.5vh;
	position: fixed;
	margin-left: 86vw;
}
.ShapeList {
	padding: 15%;
	height: 8vh;
	max-height: 8vh;
	overflow-y: scroll;
	background-color: #999999;
}
.ShapeList p {
	padding: 0;
	margin: 0;
	cursor: pointer;
	draggable: true;
}
.ShapeList p:hover {
	color: red;
}
.ShapeList p:active {
	color: white;
}
.ShapeListSelected {
	color: blue;
}
/*.ShapeListSelected {
	color: white;
	font-size: 1.1em;
}*/
.toolbar-container {
	height: 99.5vh;
	width: 8vw;
	padding: 0;
	position: fixed;
	background-color: #d6d6d6;
	box-shadow: 1px 0px 2px #b2b2b2;
}

.toolbar-container ul {
	cursor: pointer;
	color: #343434;
	padding: 0;
	margin: 0 0 0 5%;
}

.toolbar-container p {
	cursor: pointer;
	color: #343434;
	padding: 0;
	margin: 10px 0 0 0;
}

.toolbar-container p:hover {
	color: red;
}

.toolbar-container p:active {
	color: white;
}

.toolbar-container ul {
	list-style: none;
}

.dragBox {
	fill: rgba(150,150,150,0.1);
}
.mb {
	fill: rgba(0,0,200, 0.7);
}
.mb:active {
	fill: yellow;
}
.tl {
	cursor: nwse-resize;
}
.br {
	cursor: nwse-resize;
}
.tr {
	cursor: nesw-resize;
}
.bl {
	cursor: nesw-resize;
}
.tm {
	cursor: ns-resize;
}
.bm {
	cursor: ns-resize;
}
.lm {
	cursor: ew-resize;
}
.rm {
	cursor: ew-resize;
}
