.App {
  text-align: center;
}

body {
	background-color: grey;
	font-family: 'Roboto', sans-serif;
}

.ArtBoard {
	width: 78vw;
	height:99.5vh;
	background-color: white;
	align-self: center;
	box-shadow: 2px 2px 10px #333333;
	padding: 0;
	margin: 0 0 0 10vw;
}

.Layout {
	display: flex;
	flex-direction: row;
}
.RightPanel {
	background-color: #d6d6d6;
	box-shadow: -1px 0px 2px #b2b2b2;
	width: 14vw;
	height:99.5vh;
	position: fixed;
	left: 86vw;
	top: 0;
}
.LeftPanel {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 10vw;
	height: 99.5vh;
	background-color: #d6d6d6;


	box-shadow: 1px 0px 2px #b2b2b2;
}
.LeftPanel .PropertyHeader {
	box-shadow: 1px 1px 2px #b2b2b2;
}
.ShapeListContainer {
	/*margin-top: 2vh;*/
}
.ShapeList {
	padding:0;
	width: 99%;
	height: 35vh;
	max-height: 35vh;
	overflow-y: auto;
	background-color: #cdcdcd;
}
.ShapeList p {
	padding: 3px 0 3px 5px;
	margin: 0;
	cursor: pointer;
	background-color: #f4f4f4;
	font-size: .9em;
	margin-bottom: 1px;
}
.ShapeList p:nth-child(even) {
	background-color: #fafafa;
}
.ShapeList p:hover {
	background-color: #dedede;
}
.ShapeList p:active {
	color: white;
}
.ShapeListSelected {
	color: #0000c8;
	background-color: white !important;
}
.SketchPickerContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}
.PropertiesContainer {
	overflow-y: auto;
	overflow-x: hidden;
}
.PropertyHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0 2px 0;
	padding: 5px;
	box-shadow: 1px 1px 2px #222222;
}
.PropertyHeader h4 {
	margin: 0;
	padding: 0;
}

.toolbar-container {
	padding: 0;
	background-color: #d6d6d6;
}

.toolbar-container ul {
	cursor: pointer;
	color: #343434;
	padding: 0;
	margin: 0;
}

.toolbar-container ul {
	list-style: none;
}

.dragBox {
	fill: rgba(150,150,150,0.1);
}
.mb {
	fill: rgba(0,0,200, 0.7);
}
.mb:active {
	fill: yellow;
}
.tl {
	cursor: nwse-resize;
}
.br {
	cursor: nwse-resize;
}
.tr {
	cursor: nesw-resize;
}
.bl {
	cursor: nesw-resize;
}
.tm {
	cursor: ns-resize;
}
.bm {
	cursor: ns-resize;
}
.lm {
	cursor: ew-resize;
}
.rm {
	cursor: ew-resize;
}
.StrokeWidthInput {
	width: 15%;
}
.StrokeWidthInputLabel {
	font-size: .6em;
	padding: 5px;
}


.modal-blur-background {
	width: 99.5vw;
	height: 99.5vh;
	position: fixed;
	left: 0;
	top: 0;
	/*background: linear-gradient(45deg, rgba(150,150,150,0.8), rgba(200,200,200,0.4), rgba(150,150,150,0.8));*/
	/*background-image: url('http://www.placekitten.com/1500/1500');*/
	filter: blur(3px);
	z-index: 100;
}

.modal {
	position: fixed;
	top: 20vh;
	left: 30vw;
	width: 40vw;
	height: 60vh;
	background-color: white;
	box-shadow: 3px 3px 10px grey;
	z-index: 1001;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-container {
	align-self: center;
	padding: 3vw;
	display: flex;
	flex-direction: column;
}
.login-container > h3 {
	text-align: center;
	margin-bottom: 10%;
}

.login-form > input {
	width: 100%;
	height: 30px;
	font-size: 1.3em;
	margin-bottom: 5%;
}
.login-submit {
	margin-top: 10%;
	font-size: 1.3em;
	background-color: #ededed;
	box-shadow: 1.5px 1.5px 1px grey;
	text-align: center;
	align-self: center;
	padding: 5px;
	width:50%;
}
.login-submit:active {
	box-shadow: .1px .1px .1px grey;
}

.auth-button {
	margin: 5px 0 5px 0;
	/*text-align: center;*/
	padding: 5px;
	cursor: pointer;
}
.auth-button:hover {
	box-shadow: 1px 1px 1px grey;
}
.auth-button:active {
	box-shadow: .1px .1px .1px grey;
}

.project-modal {
	position: fixed;
	top: 10vh;
	left: 15vw;
	width: 70vw;
	height: 80vh;
	background-color: #dddddd;
	box-shadow: 3px 3px 10px grey;
	z-index: 1001;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.project-header {
	text-align: center;
	width: 100%;
	height: 50px;
}

.project-header > h3 {
	font-size: 2em;
	margin-top: .5em;
	padding: 0;
	/*text-shadow: 1px 1px .4px #ababab;*/
}
.projects-container {
	margin: 3%;
	min-height: 80%;
	min-width: 94%;
	background-color: #efefef;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	overflow-y: scroll;
	padding-top: 1em;
}

.project-card {
	background-color: white;
	box-shadow: .1px .1px .1px grey;
	width: 29%;
	margin: 1%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 1%;
}
.project-card:hover {
	box-shadow: 1px 1px 1px grey;
}
.project-name {
	margin: 0;
	padding: 5px;
}

.save-project-modal {
	position: fixed;
	top: 37.5vh;
	left: 37.5vw;
	width: 25vw;
	height: 25vh;
	background-color: white;
	box-shadow: 3px 3px 10px grey;
	z-index: 1001;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.save-project-modal input {
	height: 25px;
	font-size: 1.1em;
}
.save-new-submit {
	margin-top: 10%;
	font-size: 1em;
	background-color: #ededed;
	box-shadow: 1.5px 1.5px 1px grey;
	text-align: center;
	align-self: center;
	padding: 5px;
}
.save-new-submit:active {
	box-shadow: .1px .1px .1px grey;
}
.modal-hide-clicker {
	position: fixed;
	left: 0;
	top: 0;
	width: 99.5vw;
	height: 99.5vh;
	background-color: rgba(0,0,0,0);
	z-index: 200;
}

.tool-odd {
	background-color: #fafafa;
	padding: .3em;
	margin: 2px 0 0 0;
}

.tool-odd:hover {
	/*box-shadow: 1px 1px 1px grey;*/
	background-color: #dedede;
}
.tool-odd:active {
	color: white;
}
.tool-even {
	background-color: #f4f4f4;
	padding: .3em;
	margin: 2px 0 0 0;
}
.tool-even:hover {
	/*box-shadow: 1px 1px 1px grey;*/
	background-color: #dedede;
}
.tool-even:active {
	color: white;
}
.tool-selected {
	color: #0000c8;
	background-color: white !important;
}

.user-info > p {
	font-size: .9em;
	padding: 5px;
}

.saveOptions {
	padding: 5px;
	margin-top: 2px;
	background-color: #f4f4f4;
	cursor: pointer;
}
.saveOptions:hover {
	background-color: #dedede;
}
.api-status {
	text-align: center;
	font-size: .9em;
	font-weight: lighter;
}

.custom-submit {
	margin-top: 10%;
	font-size: 1.3em;
	background-color: #ededed;
	box-shadow: .3px .3px 1px grey;
	text-align: center;
	align-self: center;
	padding: 5px;
	width:50%;
	box-sizing: none;
	border: none;
}
.custom-submit:hover {
	box-shadow: 1.5px 1.5px 1px grey;
}
.custom-submit:active {
	box-shadow: none;
}
