.App {
  text-align: center;
}

body {
	background-color: grey;
}

.ArtBoard {
	width: 80vw;
	height:99.5vh;
	background-color: white;
	align-self: center;
	box-shadow: 2px 2px 10px #333333;
	padding: 0;
	margin: 0 0 0 8vw;
}

.Layout {
	display: flex;
	flex-direction: row;
}
.RightPanel {
	background-color: #d6d6d6;
	box-shadow: -1px 0px 2px #b2b2b2;
	width: 14vw;
	height:99.5vh;
	position: fixed;
	margin-left: 86vw;
}
.ShapeListContainer {
	margin-top: 2vh;
}
.ShapeList {
	padding: 5px 0 5px 0;
	width: 99%;
	height: 35vh;
	max-height: 35vh;
	overflow-y: auto;
	background-color: #efefef;
}
.ShapeList p {
	padding: 1px 0 1px 5px;
	margin: 0;
	cursor: pointer;
	draggable: true;
}
.ShapeList p:hover {
	background-color: #dedede;
}
.ShapeList p:active {
	color: white;
}
.ShapeListSelected {
	color: #010199;
	background-color: #cdcdcd;
}
.SketchPickerContainer {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: center;
}
.PropertiesContainer {
	overflow-y: auto;
	overflow-x: hidden;
}
.PropertyHeader {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 2px 0 2px 0;
	padding: 5px;
	box-shadow: 1px 1px 2px #222222;
}
.PropertyHeader h4 {
	margin: 0;
	padding: 0;
}
.LeftPanel {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	position: fixed;
	width: 8vw;
	height: 99.5vh;
	background-color: #d6d6d6;


	box-shadow: 1px 0px 2px #b2b2b2;
}
.LeftPanel .PropertyHeader {
	box-shadow: 1px 1px 2px #b2b2b2;
}
.toolbar-container {
	padding: 0;
	background-color: #d6d6d6;
}

.toolbar-container ul {
	cursor: pointer;
	color: #343434;
	padding: 0;
	margin: 0 0 0 5%;
}

.toolbar-container p {
	cursor: pointer;
	color: #343434;
	padding: 0;
	margin: 10px 0 0 0;
}

.toolbar-container p:hover {
	color: red;
}

.toolbar-container p:active {
	color: white;
}

.toolbar-container ul {
	list-style: none;
}

.dragBox {
	fill: rgba(150,150,150,0.1);
}
.mb {
	fill: rgba(0,0,200, 0.7);
}
.mb:active {
	fill: yellow;
}
.tl {
	cursor: nwse-resize;
}
.br {
	cursor: nwse-resize;
}
.tr {
	cursor: nesw-resize;
}
.bl {
	cursor: nesw-resize;
}
.tm {
	cursor: ns-resize;
}
.bm {
	cursor: ns-resize;
}
.lm {
	cursor: ew-resize;
}
.rm {
	cursor: ew-resize;
}
